extends layout

block content
  h1 Bravo ! Vous vous etes connecte !!
  form(action="/userMng/createUser", method="get")
    input(type='submit', value='Create a new User')
  form(action="/userMng/searchUser", method="get")
    input(type='submit', value='Search for a user')
