doctype html
html
  head
    title My Site
  body
    h1 My Site
    p Welcome to my super lame site.
    a(href='http://localhost:3000/users/cool') toto
    input(type='submit', onclick='alert("body");', value='toto') 
    table(border='1px black')
      tr 
        td 
          textarea
        td
          input(type='button', onclick='public/javascripts/tblToObj.js', value='toto') 

