<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(locals.errorMes === undefined) {%>
        <h1>    Felicitation User <%= locals.user.name + " " + locals.user.firstName %> a ete cree! </h1>
    <% } else { %>
        <h1>Une erreur est survenue lors de l'insertion de l'utilisateur! </h1>
        <p><%= locals.errorMes %></p>
    <% } %>
    <form action="/userMng" method="get">
        <button type="submit">Back</button>
    </form>
</body>
</html>