<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue sur le site de noob il est temps de s'amuser avec les currents users! </h1>

    <form action="/userMng/search" method="GET">
    
    <table border="1px">
        <tr>
            <td>Search by name :</td>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td>Search by email :</td>
            <td><input type="text" name="email" id="email"></td>
        </tr>
        <tr>
            <td>Search by login :</td>
            <td><input type="text" name="login" id="login"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search"></td>
        </tr>
    </table>
    </form>


</body>
</html>